<footer class="align-center bg-grayDarker fg-grayLighter text-small padding10 no-padding-left no-padding-right">
	<div class="container">
		<div>Copyright &#169; 2017 - {{ site.time | date: '%Y' }} | Wurst-Imperium | All rights reserved.</div>
		<div class="margin5 no-margin-bottom no-margin-left no-margin-right">NOT AN OFFICIAL MINECRAFT PRODUCT. NOT APPROVED BY OR ASSOCIATED WITH MOJANG OR MICROSOFT.</div>
		{% assign repo = "https://github.com/Wurst-Imperium/Forge.Wurstclient.net" %}
		<ul class="inline-list no-margin">
			<li><a href="{{ repo }}/edit/master/{{ page.path }}" target="_blank" class="fg-grayLight">Edit Page</a></li>
			<li><a href="{{ repo }}/blob/master/{{ page.path }}" target="_blank" class="fg-grayLight">View Source</a></li>
		</ul>
	</div>
</footer>
